<header>
    <div class="container">
        <a href="https://www.alexandersaha.com/" class="logo">← Angular Weather App by Alexander Saha</a>
        <nav>
            <ul>
                <li>
                    <a href="#" routerLink="/">Powered by OpenWeatherMap API</a>
                    <a href="https://github.com/AlexSaha/AngularWeatherApplication" target="_blank"><img src="https://www.alexandersaha.com/AngularWeatherApplication/assets/GitHub-Icon2.png" width="35" height="35" title="Github Profile" alt=""></a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<!-- Where routing components are displayed within the template -->
<div class="container">
    <router-outlet></router-outlet>
</div>