<div class="searchContainer">
    <body>
        <h1 style=color:lightseagreen>Search a city: </h1>
        <p>
        
            <input type="text" [(ngModel)]="city" (keyup.enter)="clickedSearch()">
            <br><br>
            <strong style=color:lightseagreen>{{ city }}</strong>
            <br><br>
            <button class="BUTTON_MZE" (click)="clickedSearch()">Search</button>
        </p>
    </body>
</div>

<div class="displayInfoContainer">
    
        <!-- True block -->
        <!-- <ng-template [ngIf]="city > 75" [ngIfElse]="none">
            <p>Temp value is over 75</p>
        </ng-template> -->

        <!-- False block -->
        <!-- <ng-template #none>
            <p>Temp value is under 75</p>
        </ng-template> -->


</div> 