<!-- ng build --prod --output-path docs --base-href /AngularWeatherApplication/ -->

<div class="searchContainer">
    <body>
        <h1 style=color:#f19a36>Search a city</h1>
            <input type="text" [(ngModel)]="city" (keyup.enter)="activateSearch()" data-required="true">
            <br><br>
            <strong style="color:#f19a36;font-size: 35px;">{{ city }}</strong>
            <br><br>
            <button class="BUTTON_MZE" (click)="activateSearch()">Search</button>
            <br>
            <br>
    </body>
</div>

<div class="displayInfoContainer">

        <ng-template [ngIf]="condition == 'Clouds'" [ngIfElse]="none">
            <img src="https://www.alexandersaha.com/AngularWeatherApplication/assets/clouds.png" alt="Clouds" width="100" height="100">
        </ng-template>

        <ng-template [ngIf]="condition == 'Clear'" [ngIfElse]="none">
            <img src="https://www.alexandersaha.com/AngularWeatherApplication/assets/sunny.png" alt="Sunny" width="100" height="100">
        </ng-template>

        <ng-template [ngIf]="condition == 'Rain'" [ngIfElse]="none">
            <img src="https://www.alexandersaha.com/AngularWeatherApplication/assets/rain.png" alt="Rain" width="100" height="100">
        </ng-template>

        <ng-template [ngIf]="condition == 'Mist'" [ngIfElse]="none">
            <img src="https://www.alexandersaha.com/AngularWeatherApplication/assets/rain.png" alt="Mist" width="100" height="100">
        </ng-template>

        <ng-template [ngIf]="condition == 'Drizzle'" [ngIfElse]="none">
            <img src="https://www.alexandersaha.com/AngularWeatherApplication/assets/rain.png" alt="Drizzle" width="100" height="100">
        </ng-template>
        
        <!-- Temp Value has been passed in for use -->
        <ng-template [ngIf]="temp > 0" [ngIfElse]="noValue">
            <p class="response">Conditions: {{condition}}</p>
            <p class="response">Current Temperature: {{temp | number:'1.1-1'}}°F</p>
            <p class="response">High: {{temp_max | number:'1.1-1'}}°F</p>
            <p class="response">Low: {{temp_min | number:'1.1-1'}}°F</p>
        </ng-template>

        <!-- False blocks -->
        <ng-template #noValue>
            <p class="response">Waiting for location...</p>
        </ng-template>

        <ng-template #none>
        </ng-template>

</div> 
