.searchContainer, .displayInfoContainer {
    margin: 0;
    font-family: 'Nunito', 'sans-serif';
    font-size: 24px;
    text-align: center;
    background-color: #31313111;
    border-radius: 25px;
}

.displayInfoContainer {
  width: 550px;
  margin: auto;
  padding: 0.1px;
}

.BUTTON_MZE {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #ffffffa9;
    font-size: 22px;
    padding: 10px;
    height: 60px;
    width: 120px;
    background-color: #646851;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-family: 'Nunito';
 }

 input[type=text]{
    border-radius:10px;
    width: 255px;
    height: 30px;
    background-color: rgb(255, 252, 235);
    outline: none;
    font-family: 'Nunito', 'sans-serif';
  }

  input[type=text]:focus {
    
    border: 1px solid #24caf3;
    color: black;
    font-family: 'Nunito', 'sans-serif';
    text-align: center;
    font-style: 25px;
}

.response {
  color: whitesmoke;
  font-size: 25px;
  opacity: 80%;
}