.searchContainer, .displayInfoContainer {
    margin: 0;
    font-family: 'Nunito', 'sans-serif';
    font-size: 24px;
    text-align: center;
}

.BUTTON_MZE {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #ffffffa9;
    font-size: 22px;
    padding: 10px;
    height: 60px;
    width: 120px;
    background-color: #646851;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-family: 'Nunito';
 }

 input[type=text]{
    border-radius:10px;
    width: 250px;
    height: 25px;
    background-color: lightgray;
    outline: none;
  }

  input[type=text]:focus {
    
    border: 1px solid #df1f1f;
    color: black;
    font-family: 'Nunito', 'sans-serif';
    text-align: center;
    font-style: 25px;
}